# Ignore node_modules for both frontend and backend
node_modules/

# Ignore build files
build/
dist/

# Ignore environment files
.env
client/.env
server/.env

# Ignore Firebase config files
firebaseConfig.js
client/firebaseConfig.js
server/firebaseConfig.js