.BlogCard {
    background-color: #3a3f5c; /* Aesthetic dark shade */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), -10px -10px 20px rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  .BlogCard:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5), -6px -6px 12px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px); /* Slight lift on hover */
    background-color: #4b506e; /* Lighter hover background */
  }
  
  .BlogCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  .BlogCard h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .BlogCard p {
    font-size: 1rem;
    color: #d1d1d1;
    margin-bottom: 15px;
  }
  
  .BlogCard button {
    background-color: #5e81ac;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.1);
  }
  
  .BlogCard button:hover {
    background-color: #4c699f;
    transform: scale(1.1);
  }

  .HeroSection {
    text-align: center;
    padding: 80px 20px;
    border-radius: 10px;
    margin: 5px 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    height: 60vh;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: overlay; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .HeroSection h1 {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #ffffff;
    z-index: 2;
  }
  
  .HeroSection p {
    font-size: 1.35rem;
    line-height: 1.8;
    max-width: 600px;
    margin: 0 auto;
    color: #e0e0e0; 
    z-index: 2;
  }
  

  
  
  
  
  
  